<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal('add')">Add BlogUser<span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <!-- <input type="search" (ngModelChange)="searchBlogUser(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search BlogUser..." required> -->
         <input type="search" id="searchName" class="form-control mr-sm-2" placeholder="Search BlogUser..." required>
     </form>
  </div>
</nav>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let blogUser of blogUsers"class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{blogUser?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{blogUser?.name}}</h5>
                        <p class="m-0">{{blogUser?.city}}</p>
                    </div>
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{blogUser?.email}}</a></li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onOpenModal('edit')"><i class="fa fa-pencil"></i> </a>
                        <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onOpenModal('delete')"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<!-- add modal-->
<div class="modal fade" id="addBlogUserModal" tabindex="-1" role="dialog" aria-labelledby="addBlogUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBlogUserModalLabel">Add BlogUser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="name" required> 
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="email" required> 
          </div>
          <div class="form-group">
            <label for="city">city</label>
            <input type="text" ngModel name="city" class="form-control" id="city" placeholder="city" required> 
          </div>
          <div class="form-group">
            <label for="imageurl">Image URL</label>
            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
         </div>
         <div class="modal-footer">
          <button type="button" id="add-blogUser-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button  type="submit" class="btn btn-primary" >Save changes</button>
        </div>
        </form>
      </div>
    </div>
    </div>
  </div>

<!-- edit modal-->
<div class="modal fade" id="updateBlogUserModal" tabindex="-1" role="dialog" aria-labelledby="blogUserEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateBlogUserModalLabel">Edit BlogUser {{editBlogUser?.name}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form>
              <div class="form-group">
                 <label for="name">Name</label>
                 <input type="text"  name="name" class="form-control" id="name" placeholder="Name">
              </div>
              <input type="hidden"  name="id" class="form-control" id="id" placeholder="Id">
              <div class="form-group">
                 <label for="email">Email Address</label>
                 <input type="email"  name="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                 <label for="city">City</label>
                 <input type="text"  name="city" class="form-control" id="city" placeholder="City">
              </div>
              <div class="form-group">
                 <label for="imageUrl">Image URL</label>
                 <input type="text"  name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <!-- <button (click)="onUpdateBlogUser(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button> -->
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteBlogUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete blogUser {{deleteBlogUser?.name}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button  class="btn btn-danger" data-dismiss="modal">Yes</button>
              <!-- <button (click)="onDeleteEmloyee(deleteBlogUser?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button> -->
           </div>
        </div>
     </div>
  </div>
</div>
</div>
